* {
  margin: 0;
  padding: 0;
}

.ZoomableSlider-Slider {
  position: relative;
  width: 400px
}

.ZoomableSlider-Ruler {
  position: relative;
  overflow: hidden;
  height: 20px;
  background-color: green;
}

.ZoomableSlider-Unit {
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  background: red;
  transform: translate(-50%, -50%);
}

.ZoomableSlider-Pointer {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.Triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid black;
}